button
{
    border: 1px  black;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
    height: 30px;
    border-radius: 15px;
}
.DeleteBtn
{ 
    
    width:60%;
    background-color: red;
}


textarea
{
    border: 1px solid black;
    width: 250;
    height: 80;
    background-color: beige;
    border-radius: 5px;
}
table
{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse:separate;
    border: 1px solid black;
}
thead
{
    border-radius: 10%;
    border-color: bisque;
}
th
{
    background-color:cadetblue;
    height: 30px;
}
tbody tr
{
    background-color:beige;
}

tbody tr td
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header h1
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.addToDo
{
    border: 1px solid black;
    background-color:darkslategray;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.addToDo:hover,.DeleteBtn:hover
{
    cursor: pointer;
    background-color: lightgrey;
}
.addToDoLink
{
    text-decoration: none;
    color: black;
}
form
{
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid brown; 
    border-radius: 15px;
}

.todoFrm label
{
 margin-left: 30px;   
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: large;
 color: black;
}

.formContent
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.formContent h1
{
    text-align: center;
}
.formContent input[type="text"]
{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 16px;
    border:1px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-left: 10px;

}
.formContent input[type="checkbox"]
{
    margin-left: 10px;
    width: 20px;
    height: 15px;
}
.formContent button
{
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: brown;
    color: black;
    border: 1px solid bisque;
    margin-bottom: 10px;

}
.formContent button:hover
{
    cursor: pointer;
    background-color: green;
}